

#adminContinentContainer {
    display: flex; /* Switch to flexbox for horizontal layout */
    gap: 20px; /* Space between each continent */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    align-items: center; /* Vertically align items */
    white-space: nowrap; /* Prevent items from wrapping to the next row */
    border-bottom: solid;
    color: white;
}

#addNewContinent {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}

#specificAdminContinentContainer {
    flex: 0 0 auto; 
    display: grid;
    grid-template-rows: 80% 20%;
    height: 300px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 24px;
    background-color: black;
}

#adminContinentImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editDeleteContinentContainer {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.editDeleteContinent {
    border: solid;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: black;
}

.continentNameContainer {
    background-color: rgba(1, 1, 1, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 24px;
}

