#addNewCountry{
    background-color: white;
    border-radius: 24px;
    height: 80%;
    width: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newCountryInput{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: solid;
}

.newCountrySafety{
    margin-left: 10px;
    margin-right: 10px;
}

.newCountryInfo{
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
}