.linkContinentButton{
    background-color: rgb(19, 126, 4);
    color: white;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

#secondContinentQuery{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    gap: 20px;
    align-items: center;
}

#secondContinentButton{
    background-color: rgb(31, 122, 201);
    border: none;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}