#editCountryInputContainer{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 20px;
}

.editCountryInputTitle{
    justify-self: flex-start;
    align-self: flex-start;
}

.adminEditCountryInput{
    margin-right: 5px;
}

.editCountryInfoText{
    margin-right: 5px;
    height: 100px;
}