#adminAddInterestContainer{
    border-radius: 20px;
    background-color: white;
    width: 80%;
}

#newInterestInputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.newInterestInput{
    border: none;
    border-bottom: solid;
    width: 60%;
    justify-self: center;
    align-self: center;
}

.addInterestButtons{
    background-color: rgb(47, 189, 89);
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

#addInterestButtonContainer{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}