#specificLocationContainer{
    flex: 0 0 auto; 
    display: grid;
    grid-template-rows: 80% 20%;
    height: 300px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 24px;
    background-color: black;
}

#adminLocationImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationNameContainer{
    background-color: rgba(1, 1, 1, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 24px;
}

#editDeleteInfoLocationContainer{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.editDeleteInfoLocationButtons{
    border: solid;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    color: black;
}

#adminLocationHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: 80%;
    border-radius: 24px;
    gap: 40px;
    background-color: rgba(1, 1, 1, 0.8);
    color: white;
    padding: 3px;
}

#addLocationButton{
    background-color: rgb(255, 254, 254);
    color: black;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

#adminLocationReel{
    display: flex; /* Switch to flexbox for horizontal layout */
    gap: 20px; /* Space between each continent */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    align-items: center; /* Vertically align items */
    white-space: nowrap; /* Prevent items from wrapping to the next row */
    border-bottom: solid;
    color: white;
}

#adminLocationSearchBar{
    height: 30px;
    border: none;
    width: 400px;
    border-radius: 24px;
    text-align: center;
    font-size: 150%;
}

#adminLocationTitle{
    margin-left: 10px;
    font-size: 200%;
    font-weight: 260;
    text-decoration: underline;
}

#adminAddLocationContainer{
    height: auto;
    width: 70%;
    background-color: rgb(52, 47, 47);
    color: white;
}

.adminAddStateBoroughNeigbourhoodInput{
    width: 80%;
    margin-bottom: 20px;
}

.adminLocationTextArea{
    width: 80%;
    height: 90px;
    margin-bottom: 20px;
}

.adminAddLocationButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.adminAddLocationButtons{
    border-radius: 24px;
    background-color: rgb(20, 129, 3);
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 140px;
}

#adminLocationInfoContainer{
    height: 70%;
    width: 80%;
    border-radius: 24px;
    background-color: rgb(88, 87, 87);
    color: white;
    overflow: hidden;
}

#adminLocationInfoContainerGrid{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#adminLocationImgContainer{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

#adminEdirLocationTextContainer{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

#adminEditLocationText{
    color: red;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 0px;
}

#adminLocationIntroTextArea{
    height: 100px;
    margin-bottom: 20px;
}

#adminCountryPassportStamp{
    height: 140px;
    justify-self: flex-start;
    align-self: flex-start;
}

#adminEditCountrySafety{
    margin-bottom: 20px;
    width: 80%;
}