#editSpecificContinentInfoGrid{
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    overflow: hidden;
}

.editContinentImg{
    width: 100%;
    height: 100%;
}

.editContinentInputContainers{
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    margin-bottom: 20px;
}

.editContinentLabelHeading{
    justify-self: flex-start;
    align-self: flex-start;
    color: red;
    margin-left: 5px;
}

.continentEditInput{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.editContinentIntro{
    margin-left: 5px;
    margin-right: 5px;
    width: 97%;
    height: 230px;
    margin-bottom: 5px;
}

.editContinentButtonsContainer{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
